@page "/water-source"

@attribute [Authorize]

<PageTitle>Water Source - Water Management System</PageTitle>

<Breadcrumbs Title="Water Source"
             BreadcrumbItems="@(new List<BreadcrumbItem>
             {
                new("Water Source", "", false),
                new("List", "", true)
             })" />

<Section>
    <div class="row g-2 my-3 justify-content-md-end">
        <div class="col-auto">
            <button type="button" class="btn btn-sm btn-blue" data-bs-toggle="modal" data-bs-target="#baseModal" disabled="@(isDownloadComplated)">
                @if(isDownloadComplated)
                {
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Export...</span>
                }
                else
                {
                    
                    <i class="bi bi-download me-1"></i> <span>Export To Excel</span>
                }
            </button>
        </div>
        <div class="col-auto">
            <a class="btn btn-sm btn-blue-lighter link-primary" href="/water-source/create" role="button">
                <i class="bi bi-plus-circle me-1"></i> Add Water Source
            </a>
        </div>
    </div>

    <hr />

    <form class="row g-2" @onsubmit="OnSubmitFilter">
        <div class="col-2">
            <select class="form-select form-select-sm" @bind="Query.Status" id="Status">
                <option value="" selected>Choose Status</option>
                <option value="Pending">Pending</option>
                <option value="Accepted">Accepted</option>
                <option value="Rejected">Rejected</option>
            </select>
        </div>
        <div class="col-2">
            <select class="form-select form-select-sm" @bind="Query.ProvinceId" @bind:after="OnAfterProvinceSelectedAsync" aria-label="province">
                <option value="" selected>Choose Province</option>
                @foreach(var item in provinces)
                {
                    <option value="@item.ProvinceId">@item.Name</option>
                    
                }
            </select>
        </div>
        <div class="col-2">
            <select class="form-select form-select-sm" @bind="Query.CityId" disabled="@string.IsNullOrEmpty(Query.ProvinceId)">
                <option value="" selected>Choose City</option>
                @foreach(var item in cities)
                {
                    <option value="@item.CityId">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-2">
            <input type="date" @bind="Query.From" class="form-control form-control-sm" id="from" placeholder="From Date" />
        </div>
        <div class="col-2">
            <input type="date" @bind="Query.To" class="form-control form-control-sm" id="to" placeholder=""
                   disabled="@(!Query.From.HasValue)" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-blue fw-bold btn-sm">
                Filter
            </button>
            <button type="reset" class="btn btn-blue-lighter fw-bold btn-sm" @onclick="OnClickResetFilter">
                Reset Filter
            </button>
        </div>
    </form>

    <hr />
    
    <Search OnSearch="OnSearch" />

    <hr />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Survey Date</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @if(!isLoading)
                {
                    @if (waterSources is not null && waterSources!.Items.Count > 0)
                    {
                        int Number = ((Query.Page - 1) * Query.PageSize) + 1;
                        @foreach (var item in waterSources.Items)
                        {
                            <tr>
                                <th class="text-secondary-emphasis" scope="row">@Number</th>
                                <td>
                                    <a href="@($"/water-source/detail/{item.WaterSupplyId}")">@item.Code</a>
                                </td>
                                <td class="text-secondary-emphasis">@item.Name</td>
                                <td class="text-secondary-emphasis">@item.StartSurveyDt - @item.EndSurveyDt</td>
                                <td class="text-secondary-emphasis">@item.CreatedAt?.ToString("dd/MM/yyyy HH:mm")</td>
                                <td class="text-secondary-emphasis">@item.CreatedByName</td>
                                <td>
                                    @if(item.LastStatus == "Pending")
                                    {
                                        <span class="badge bg-warning">@item.LastStatus</span>
                                    } else if(item.LastStatus == "Rejected")
                                    {
                                        <span class="badge bg-danger">@item.LastStatus</span>
                                    } else
                                    {
                                        <span class="badge bg-success">@item.LastStatus</span>
                                    }
                                </td>
                            </tr>

                            Number++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">
                                <div class="text-center p-5 my-5">
                                    <p class="h5">Sorry, search not found!</p>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">
                            <Spinner />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (waterSources is not null && (waterSources.Items.Count >= Query.PageSize || Query.Page > 1))
    {
        <Pagination CurrentPage="Query.Page" OnPageChange="OnPageChange" />
    }
</Section>

<Modal Title="Select the survey period"
       FooterContentClass="d-flex justify-content-center">
    <BodyContent>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="fromDate" class="form-label">From Date</label>
                <input type="date" @bind="From" class="form-control" id="fromDate">
            </div>
            <div class="col-md-6">
                <label for="toDate" class="form-label">To Date</label>
                <input type="date" @bind="To" class="form-control" id="toDate" disabled="@(!From.HasValue)">
            </div>
        </form>
    </BodyContent>
    <FooterContent>
        <button type="button" class="btn btn-sm btn-blue" data-bs-dismiss="modal" @onclick="ExportToExcel" disabled="@(!To.HasValue)">Export</button>
    </FooterContent>

</Modal>